*{
    box-sizing: border-box;
}
html,
body{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    font-family: "Play", sans-serif;
    font-size: 16px;
}
.admin__wrapper{
    display: flex;
    flex-direction: column; /* eixo */
    height: 100%;
}

.header__main{
    background-color:white;
    color: white;
    display: flex;
    font-size: 1.4rem;
    justify-content: space-between;
    padding: 1rem;
    z-index: 1;
    border-bottom: 1px solid blue;
}
.header__main__tittle{
    font-size: 2.0rem;
    color: blue;
}
.logo{
    width: 100%;
    padding: 1rem;
    }
.like-button{
   background: #004766;
   color: white;
   font-size: 1.4rem;
   padding: 1.2rem;
   border: 0;
   text-align: center;
   width: 100%;
    }
.vezes-Click{
    background:#8c7764;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 0.7rem;
    text-align: center;
    padding: 1rem;
    }
    